@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Roboto:wght@400;500;700;900&display=swap');

.section-container{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    gap: 8px;
}

.general-info-container{
    margin-top: 10px;
}

h2{
    width: 280px;
    font-family: 'Montserrat';
    font-weight: 200;
    margin: 0px;
    margin-left: 8px;
    margin-top: 6px;
}

.section-container > fieldset{
    appearance: none;
    outline: none;
    border: none;

    flex-grow: 1;

    display: flex;
    flex-flow: row nowrap;
    gap: 40px;
    justify-content: flex-start;
}

.first-col, .second-col{
    display: flex;
    flex-flow: column nowrap;
    gap: 12px;
}

label{
    font-family: 'Montserrat';
    font-weight: 400;

    display: flex;
    flex-flow: row nowrap;
    gap: 8px;
    align-items: flex-start;
    justify-content: space-between;
}

input{
    appearance: none;
    outline: none;
    border: none;

    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    color: white;

    height: 24px;
    padding-left: 6px;

    border-radius: 3px;
    box-shadow: inset 0px 7px 9px -10px hsl(0deg, 0%, 10%);
    background-color: hsl(210deg, 10%, 55%);
    border-bottom: thin solid hsl(210deg, 10%, 80%);
}

label[for="study-title"] > input{
    margin-left: 10px;
}

label[for="first-name"] > input, label[for="last-name"] > input {
    margin-left: 26px;
}

label[for="start-date"] > input, label[for="end-date"] > input{
    margin-left: 10px;
}

label[for="company-name"] > input{
    margin-left: 36px;
}

label[for="e-mail"] > input, label[for="phone"] > input{
    margin-left: 12px;
}

label[for="main-tasks"]{
    display: flex;
    flex-flow: row nowrap;
    width: 96%;
}

label[for="main-tasks"] > input{
    margin-left: 26px;
    flex-grow: 1;
}

fieldset.practical-experience-fieldset{
    display: flex;
    flex-flow: column nowrap;
}

fieldset.practical-experience-fieldset > button{
    align-self: flex-end;
}

.section-row{
    display: flex;
    flex-flow: row nowrap;
    gap: 40px;
}

.section-row.main-tasks-row{
    display: flex;
    flex-flow: column nowrap;
}

.section-row.main-tasks-row > button{
    align-self: flex-end;
}

